/* page.css */

.content {
  padding-left: 150px; /* Adjust according to your side menu width */
  background-color: #f0f0f0; /* Example background color */
  padding-right: 100px; 
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
}

.graph-block,
.page-link-block,
.items-for-sale-block {
  background-color: #fff; /* Block background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.graph-block,
.page-link-block {
  grid-column: span 1;
}

.items-for-sale-block {
  grid-column: span 2;
  margin-bottom: 20px;
}

.items-for-sale-block .item {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.items-for-sale-block .item img {
  width: 100px;
  height: 100px;
  border-radius: 8px;

}

/* Add more styles as needed */
